
/* body {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap : 20px;
  padding: 20px;
} */


h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
}

button.card {
  width: 200px;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  overflow: hidden;
  background: linear-gradient(135deg, #6bff6b, #000dff);
  background-size: 100% 100%;
  transition: background-size 1s ease-in-out;
}

.card:hover {
  background-size:200% 200%;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display : block;
  margin : auto;
}

.hamburger {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;

}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav-menu {
  display: none;
  flex-direction: column;
  background-color: rgb(28, 221, 221);
  position: absolute;
  top: 18%;
  left: 0px;
  right: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu a {
  padding: 10px;
  text-decoration: none;
  color: rgb(88, 32, 136);
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu a:hover {
  background-color: rgb(88, 32, 136);
  color: white;
}

.nav-menu a:last-child {
  border-bottom: none;
}

#menu-toggle:checked + .menu-icon + .nav-menu {
  display: flex;
}

.hamburger.active div:nth-child(1) {
  transform: translate(0, 11px) rotate(-45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translate(0, -11px) rotate(45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  ul {
    display: none;
  }
}